# dbt artifacts
target/
dbt_packages/
logs/

# dbt local profiles (solo por si alguien clona el repo)
profiles.yml

# OS files
.DS_Store
Thumbs.db

# IDE / Editors
.vscode/
.idea/
*.iml

# Python virtual environments (por si alguien usa dbt Core local)
.venv/
venv/
env/

# Local Snowflake config (credenciales / variables sensibles)
config_local.sql

# Temporary files
*.log
*.tmp
